

body {
  font-size: 22px;
}
p { color: purple;
}

.gray{
  color: grey;
}

#second {
  font-style: italic;

}
h1, h2 {
  color: blue;
}

.highlight {
  text-transform: uppercase;
  background-color: gold;
}
